.song-card {
    background-color: #245953;
    color: #d8d8d8;
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .song-card-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .song-card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .song-card-title {
    font-size: 18px;
    margin: 0;
  }
  
  .song-card-artists {
    font-size: 14px;
    margin: 0;
  }
  
  .song-card-button {
    text-decoration: none;
    color: #d8d8d8;
    font-size: 14px;
    align-self: flex-end;
    margin-top: 10px;
    background-color: #1a1a1a;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .song-card-button:hover {
    background-color: #646cff;
  }
  
  /* For small screens (mobile devices) */
@media only screen and (max-width: 600px) {
  .song-card {
    /* adjust to desired size for small screens */
    transform: scale(0.8);
    width: 280px; 
    height: 400px; 
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .song-card {
    /* adjust to desired size for medium screens */
    transform: scale(0.9);
    width: 315px; 
    height: 450px; 
  }
}