.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }
  
  .navbar-right {
    display: flex;
    margin-right: 1rem;
  }
  
  .navbar-item {
    font-size: 1rem;
    text-decoration: none;
    color: #333333;
    margin-left: 1rem;
  }
  
  .navbar-item:hover {
    color: #666666;
  }
  